.App {
    padding: 16px 24px;
}

.appHeader {
    margin-bottom: 16px;
    padding: 0;
    align-items: center;
    display: flex;
    height: auto;
    line-height: normal;
    justify-content: space-between;

    background: transparent;
}
